<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title%}
Home
{% endblock %}

{% block content %}
<center>
    <h2>Home page</h2>
</center>

<div class="container">

    <div class="row mt-5" >

        {% for i in m %}
    <div class="col-sm-3">
        <div class="card mt-2 rounded" style="width: 18rem;">
  <img src="{{i.image.url}}" height="347px" width="286px" class="card-img-top" alt="...">
             <p class="text-center text-danger"><span>{{i.year}}</span></p>
  <div class="card-body">
    <center><h5 class="card-title mb-5 text-success">{{i.name}}</h5></center>
<!--    <p class="card-text" style="height:150px;">{{i.desc}}</p>-->

    <a href="{% url 'cinimaapp:detail' i.id %}" class="btn btn-primary" style="margin-left:80px;">Details...</a>

  </div>
</div>


    </div>
        {% endfor %}

    </div>
</div>














{% endblock %}