<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

{% block title %}
Register

{% endblock %}

{% block content %}

<div class="container mt-5" >
  <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
        <label class="form-label">User Name:</label>
        <input type="text" class="form-control" id="name" name="username">
    <!--    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
      </div>



      <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>


      <div class="mb-3">
        <label class="form-label">Confirm Password:</label>
        <input type="password" class="form-control" id="cpassword" name="cpassword">
      </div>


      <div class="mb-3">
        <label class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" name="email">
      </div>
      <div class="mb-3">
        <label class="form-label">Phone Number:</label>
        <input type="number" class="form-control" id="phonenumber" name="phonenumber">
      </div>

      <div class="mb-3">
       <div class="form-floating">

      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="address"></textarea>
      <label for="floatingTextarea">Address:</label>
    </div>


      <div class="mb-3">
        <label class="form-label">First Name:</label>
        <input type="text" class="form-control" id="firstname" name="firstname">
      </div>


      <div class="mb-3">
        <label for="lastname" class="form-label">Last Name:</label>
        <input type="text" class="form-control" id="lastname" name="lastname">
        <center>
        <button type="submit" class="btn btn-warning mt-2">Submit</button>
            </center>
      </div>
  </form>
</div>

{% endblock %}